.barcelona {
	margin: 5px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 500px 500px;
	grid-gap: 5px; 
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
    p {
        grid-row: 1/1;
        font-family: 'Roboto Condensed', sans-serif;
    }    
}   
@each $foto in barcelonaCasaMila2, barcelonaCirculo, barcelonaRochiPalau, barcelonaVitralesSagradaFamilia, yoFefe, barcelonaHospital,barcelonaDragon {
    .foto__#{$foto} {
        background-image: url('../imagenes/#{$foto}.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(1);
    }  
}
@each $foto in barcelonaCasaMila2, barcelonaCirculo, barcelonaRochiPalau, barcelonaVitralesSagradaFamilia, yoFefe, barcelonaHospital,barcelonaDragon {
	.foto__#{$foto}:hover{
		transform: scale(1.2);
		background-size: cover;
		transition: 1.5s;
		z-index: 1000;
		filter: grayscale(0);
	}
}
@media (max-width: 425px) {
    .barcelona {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 400px 350px 750px 250px 350px 750px 450px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .barcelona {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 600px 550px 950px 250px 550px 850px 750px;
    }
}